<form action="/change_password" method="POST">
  <!-- Email input -->
  <div class="form-outline mb-4">

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2"
      >Current password</label
    >
    <input
      type="password"
      name="oldPassword"      
      class="form-control"
    />
  </div>
    <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2"
      >New password</label
    >
    <input
      type="password"
      name="newPassword"      
      class="form-control"
    />
  </div>
    <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2"
      >Confirm new password</label
    >
    <input
      type="password"
      name="newPassword2"      
      class="form-control"
    />
  </div>

  <!-- Submit button -->
  <button
    type="submit"
    class="btn btn-primary btn-block mb-4"
  >
    Change Password
  </button>
</form>
