<form action="/sessions" method="POST">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1"
      >User ID</label
    >
    <input
      type="text"
      name="id"
      id="form2Example1"
      class="form-control"
    />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2"
      >Password</label
    >
    <input
      type="password"
      name="password"
      id="form2Example2"
      class="form-control"
    />
  </div>

  <!-- Submit button -->
  <button
    type="submit"
    class="btn btn-primary btn-block mb-4"
  >
    Log in
  </button>
</form>
